.catalog {
  background-color: #ffffff;
}

.catalog__wrapper {
  padding: 37px 20px 0;
}

.catalog__header {
  margin-bottom: 25px;
}

.catalog__header-wrapper {
  width: 280px;
  margin: 0 auto;
}

.catalog__title {
  .title-font();
  color: #000000;
  text-align: center;
  margin: 0;
}

.catalog__text {
  .basic-font();
  color: #333333;
  text-align: center;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog__item-wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 25px;
}

.catalog__link {
  text-decoration: none;
}

.catalog__image {
  display: block;
  margin-bottom: 15px;
}

.catalog__item-title {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
}

.catalog__author {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: capitalize;
  text-align: left;
  font-style: normal;
  color: #333333;
  margin-bottom: 11px;
}

.catalog__likes {
  font-family: inherit;
}
