.catalog-video {
  background-color: #ffffff;
}

.catalog-video__wrapper {
  padding: 17px 20px 0;
}

.catalog-video__title {
  .title-font();
  color: #000000;
  text-align: center;
  margin: 0 auto 27px;
}

.catalog-video__text {
  .basic-font();
  color: #333333;
  text-align: center;
  margin: 0 auto 38px;
}
