.contacts {
  background-color: #ffffff;
}

.contacts__title {
  .title-font();
  color: #000000;
  text-align: center;
  margin: 0 auto 20px;
  padding: 0;
}

.contacts__label {
  .basic-font();
  color: #333333;
  text-align: left;
}

.contacts__field {
  background-color: #f2f2f2;
  border: none;
  .title-font();
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.3);
}
