.form__wrapper {
  background-color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
}

.form__header {
  padding-top: 36px;
  padding-bottom: 28px;
}

.form__title {
  .title-font();
  color: #000000;
  text-align: center;
  margin: 0 0 24px;
}

.form__text {
  .basic-font();
  color: #333333;
  text-align: center;
  margin: 0;
}

.form-review__group {
  border: none;
  margin: 0;
  padding: 0 0 39px;
  text-align: left;
  display: grid;
  row-gap: 16px;
}
