.impression {
  background-color: #ffffff;
}

.impression__wrapper {
  width: 280px;
  margin: 0 auto;
}

.impression__title {
  .title-font();
  color: #000000;
  text-align: center;
  margin: 0 auto 20px;
  padding: 0;
}

.impression__label {
  .title-font();
  text-transform: none;
  color: #000000;
  text-align: left;
}
