.main-footer {
  background-color: #ffffff;
}

.main-footer__wrapper {
  padding: 28px 78px 29px 76px;
}

.main-footer__hashtag {
  margin-bottom: 33px;
}

.hashtag__text {
  .special-font();
  color: #000000;
  text-align: center;
}

.main-footer__social {
  margin-bottom: 47px;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.main-footer__copyright {
  margin-bottom: 29px;
}

.copyright__text {
  .basic-font();
  color: #000000;
  text-align: center;
}
