.main-header {
  background-color: #ffffff;
  padding: 0 18px 0;
}

.main-header__logo-image {
  display: block;
}

.main-header__logo-wrapper {
  width: 185px;
  margin: 0 auto -40px;
  z-index: 1;
}
