.main-intro {
  background-color: @basic-blue;
  background-image: url("../img/back-intro-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.main-intro__image {
  display: block;
  padding: 90px 19px 85px;
  margin: 0 auto;
}

.secodary-intro {
  background-color: @basic-blue;
  background-image: url("../img/back-intro-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center -158px;
}

.secodary-intro__image {
  display: block;
  margin: 0 auto;
  padding: 52px 0 67px;
}
