.main-intro {
  background-color: @basic-blue;
  background-image: url("../img/back-intro-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.main-intro__image {
  display: block;
}

.main-intro__wrapper {
  width: 282px;
  padding: 90px 0 85px;
  margin: 0 auto;
}
