.modal-success__content {
  background-color: #ffffff;
}

.modal-success__wrapper {
  width: 244px;
  margin: 0 auto;
}

.modal-success__title {
  .title-font();
  color: #000000;
  text-align: center;
  margin: 0;
}

.modal-success__description {
  .basic-font();
  color: #333333;
  text-align: center;
  margin: 0;
}

.modal-success__button-wrapper {
  width: 320px;
  padding: 20px 20px;
  margin: 0 auto;
  background-color: #f2f2f2f2;
}
