.modal-fail--close {
  display: none;
}

.modal-fail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.modal-fail__content {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;

  @media (min-width: @tablet-width) {
    width: 400px;
    box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  }
}

.modal-fail__wrapper {
  width: 237px;
  margin: 0 auto;
  padding: 45px 0 26px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 400px;
    padding: 40px 50px 55px 50px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 400px;
    padding: 47px 50px 48px;
  }
}

.modal-fail__title {
  .title-font();
  color: #000000;
  text-align: center;
  margin: 0;
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    font-family: inherit;
    font-size: 30px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 45px 22px;
  }
}

.modal-fail__description {
  .basic-font();
  color: #333333;
  text-align: center;
  margin: 0;
}

.modal-fail__button-wrapper {
  width: 180px;
  margin: 0 auto;
  padding-bottom: 36px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 400px;
    padding: 0 64px 50px;
    margin: 0 auto;
  }
}

.modal-fail__button {
  .title-font();
  width: 100%;
  padding: 18px 0 14px;

  @media (min-width: @tablet-width) {
    .special-font();
  }
}
