.modal-fail__content {
  background-color: #ffffff;
}

.modal-fail__wrapper {
  width: 237px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 307px;
    margin: 0 auto;
  }
}

.modal-fail__title {
  .title-font();
  color: #000000;
  text-align: center;
  margin: 0;
}

.modal-fail__description {
  .basic-font();
  color: #333333;
  text-align: center;
  margin: 0;
}

.modal-fail__button-wrapper {
  width: 180px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 252px;
    margin: 0 auto;
  }
}
