.photo-item__wrapper {
  width: 282px;
  margin: 0 auto;
  padding: 54px 0 40px;
}

.photo-item {
  background-color: @basic-blue;
  color: #ffffff;
}

.photo-item__image-wrapper {
  width: 320px;
  margin: 0 auto;
}

.photo-item__image {
  display: block;
  width: 100%;
}
