.review {
  background-color: #ffffff;
  position: relative;

  @media (min-width: @tablet-width), (min-width: @desktop-width) {
    grid-area: review;
  }
}

.review::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: #e5e5e5;
  top: 0;
  left: -20px;

  @media (min-width: @tablet-width) {
    width: 123px;
    top: 32px;
    left: 0;
  }

  @media (min-width: @desktop-width) {
    width: 280px;
    top: 66px;
    left: 0;
  }
}

@media (min-width: @tablet-width) {
  .review::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    background-color: #e5e5e5;
    top: 32px;
    right: 0;
  }
}

@media (min-width: @desktop-width) {
  .review::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 1px;
    background-color: #e5e5e5;
    top: 66px;
    right: 0;
  }
}

.review__wrapper {
  width: 280px;
  margin: 0 auto;
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    width: 648px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 960px;
    margin: 0;
    padding-top: 56px;
  }
}

.review__title {
  .title-font();
  color: #000000;
  text-align: center;
  margin: 0 auto 20px;
  padding: 0;

  @media (min-width: @tablet-width), (min-width: @desktop-width) {
    .special-font();
    margin: 0 auto 28px;
  }
}

.review__field {
  .title-font();
  text-align: left;
  text-transform: none;
  color: rgba(0, 0, 0, 0.3);
  background-color: #f2f2f2;
  padding: 16px 16px;
  margin-bottom: 52px;
  width: 279px;
  min-height: 150px;
  border: none;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-bottom: 42px;
    min-height: 160px;
  }

  @media (min-width: @desktop-width) {
    width: 80%;
    margin: 0 96px 44px;
    min-height: 160px;
  }
}

.review__label {
  margin: 0;
  padding: 0;
}
