.search-hotel__wrapper {
  width: 284px;
  padding: 40px 0 49px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 458px;
    padding: 61px 0 58px;
  }

  @media (min-width: @desktop-width) {
    width: 458px;
    padding: 61px 0 66px;
  }
}

.search-hotel__button {
  width: 284px;
  padding: 16px 0;
  text-decoration: none;

  @media (min-width: @tablet-width) {
    width: 458px;
  }
}

.search-hotel__map-wrapper {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    width: 768px;
    padding: 0;
    // height: 350px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
    // height: 350px;
  }
}

.search-hotel__map {
  display: block;
  border: none;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.search-hotel__title {
  .special-font();
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
  display: block;

  @media (min-width: @tablet-width) {
    .big-special();
    margin-bottom: 32px;
  }

  @media (min-width: @desktop-width) {
    .big-special();
    margin-bottom: 32px;
  }
}

.search-hotel__description {
  .basic-font();
  color: #333333;
  text-align: center;
  margin: 0 0 33px;

  // не получается выровнять текст
  @media (min-width: @tablet-width) {
    margin: 0 0 42px;
    padding: 0 10px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 45px;
  }
}
