.username {
  background-color: #ffffff;

  @media (min-width: @tablet-width), (min-width: @desktop-width) {
    grid-area: name;
  }
}

.username__wrapper {
  width: 280px;
  margin: 0 auto;
}

.username__title {
  .title-font();
  color: #000000;
  text-align: center;
  padding: 0;
  margin-bottom: 20px;
}

.username__label {
  .basic-font();
  color: #333333;
  text-align: left;
}

.username__field {
  .title-font();
  padding: 16px auto 16px 16px;
  text-transform: capitalize;
  color: #000000;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
  width: 100%;
}
